/* default css attributes for all screen sizes */
html, body {
  font-family: din-2014, sans-serif;
  font-weight: 300;
  height: 100%;
  color: white;
}
/* First section */
.presentation {
  background: linear-gradient(to bottom, #3c8e89, #317672);
  min-height: 115% !important;
  text-align: center;
  padding-top: 7%;
}
.presentation .inner {
  max-width: 50% !important;
}
.slide {
  text-align: left;
  display: inline !important;
  font-size: 15px;
}
.logo {
  content: url('../images/logo.png');
  max-width: 50%;
}
/* End of First section */

/* Second section */
.graph {
  background-color: #333;
	position: relative;
	min-height: 110% !important;
}
.graph .top {
	box-shadow: 0px 20px 0px #333, -0px -2px 20px #00000030, 0px 2px 20px #00000049;
	margin-left: 15%;
  background-color: #333;
	height: 110px;
	width: 70%;
	top: 0;
	transform: translateY(-50%);
	padding-top: 5%;
	padding-left: 6%;
}
.graph .top h4 {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 600;
}
.graph .top i {
	transform: rotate(-90deg);
	margin-left: 5px;
}
.graph .select {
	max-width: 90%;
	line-height: 10px;
	vertical-align: bottom;
}
.graph .top h4, i {
	color: #e25160;
}
.graph h3 {
	font-size: 16px;
	white-space: nowrap;
	font-weight: 300;
}
.graph .text {
	font-size: 10px;
	max-width: 90%;
	padding-top: 10px;
}
.graph a {
	color: white;
	text-decoration: none;
}
.graph svg {
	position: absolute;
	left: 0;
}
/* End of Second section */

/* Third section */
.map {
  background: linear-gradient(to bottom, #3c8e89, #317672);
  height: 40%;
}
/* End of Third section */

/* Fourth section */
.tabs {
  background-color: #f07125;
  display: flex;
	flex-direction: column;
}
.tabs h1 {
  font-weight: 200;
  font-size: 25px;
}
.tab {
	display: flex;
	flex-direction: row;
	position: relative;
	padding: 5px;
}
.tab-border {
  background-color: #ef6b26;
  color: #993c14;
  font-size: 18px;
  line-height: 50px;
  vertical-align: middle;
	padding-left: 5%;
}
.tab-title-border {
  height: 100%;
  width: 50px;
	position: absolute;
	left: 0;
	top: 0;
}
.tab-title {
	padding-left: 20%;
	white-space: nowrap;
}
.tab-title h1 {
	transform: translateY(10%);
}
.tab-content {
  display: none;
	box-shadow: 0px -5px 5px #00000014, 0px 5px 5px #00000014;
	position: relative;
}
.tab-content-inner {
	text-align: center;
	padding: 5px;
}
.tab-content h1 {
	font-size: 30px;
}
.tab-content img {
	margin-bottom: -1.4%;
	box-shadow: -5px -2px 20px 0px #00000040;
	content: url('../images/barometer.png');
	max-width: 350px;
	max-height: 220px;

}
.tab-active {
	display: none;
}
.content-active {
	display: block;
}
#tab-1, #tab-1 .tab-border {
	box-shadow: inset 0px -5px 5px #00000014;
}
#tab-2, #tab-2 .tab-border {
	box-shadow: inset 0px -5px 5px #00000014;
}
#tab-3, #tab-3 .tab-border {
	box-shadow: inset 0px -5px 5px #00000014;
}
#tab-4, #tab-4 .tab-border {
	box-shadow: inset 0px -5px 5px #00000014;
}
#tab-6, #tab-6 .tab-border {
	box-shadow: inset 0px 5px 5px #00000014;
}
/* End of Fourth section */

/* Fifth section */
.partners {
  color: #6a6a6a;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 20px;
}
.partners h1 {
  font-weight: 200;
  font-size: 55px;
}
.partners p {
  margin-top: 20px;
}
.partners img {
  margin-bottom: 40px;
  max-width: 100%;
}
.irdc-logo {
  content: url('../images/irdc.png');
}
.canada-logo {
  content: url('../images/canada.svg');
}
.wb-logo {
  content: url('../images/world_bank-logo.png');
}
.dp-logo {
  max-height: 60px;
  content: url('../images/dp.svg');
  float: left;
}
.ukaid-logo {
  max-height: 60px;
  content: url('../images/ukaid.png');
  float: right;
}
/* End of Fifth section */

/* Sixth section */
.footer {
  background-color: #333333;
  text-align: center;
  padding-top: 5%;
}
.footer h4 {
  font-weight: 300;
}
.footer .col {
  text-align: left;
}
.footer a {
  color: white;
}
.footer p {
  margin-bottom: 5px;
}
.footer small {
  color: #828282;
  font-size: 70%;
}
.footer hr {
  border-bottom: 1px solid #5d5d5d85;
}
.foot {
  height: 40px;
  box-shadow: 0px 1px 50px #111111b0;
  margin-top: 20px;
  text-align: right;
}
.foot small {
  position: relative;
  top: 20%;
  right: 15px;
  font-weight: 200;
}
/* End of Sixth section */

.inner {
  max-width: 90%;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .logo {
    max-width: 50%;
  }
  .slide {
    font-size: 20px;
  }
  .inner {
    max-width: 90%;
  }
  .canada-logo {
    position: relative;
    top: 15%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .slide {
    font-size: 25px;
  }
  .inner {
    max-width: 70%;
  }

	.graph .top {
		padding-left: 3%;
		padding-top: 3%;
	}
	.graph .select {
		max-width: unset;
		font-size: 25px;
	}
	.graph h3 {
		font-size: 25px;
	}
	.graph .top  {
		font-size: 15px;
	}
	.graph .text {
		font-size: 12px;
	}

	.tabs {
		height: 75%;
		flex-direction: row;
	}
	.tabs h1 {
		font-size: 30px;
	}
	.tab {
		flex-direction: column-reverse;
		max-width: 5.2%;
		padding: 0;
	}
	.tab-border {
		font-size: 20px;
	}
	.tab-title {
		transform: rotate(-90deg);
		white-space: nowrap;
		padding-left: 30px;
	}
	.tab-content {
		box-shadow: -5px 0px 5px #00000014, 5px 0px 5px #00000014;
	}
	.tab-text {
		display: inline;
		float: left;
		max-width: 30%;
		text-align: right;
	}
	.tab-content h1 {
		font-size: 50px;
		font-weight: 200;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.tab-content img {
		position: absolute;
		float: right;
		margin-right: 20px;
		margin-bottom: 0%;
		display: inline;
		max-width: 360px;
		max-height: 230px;
		right: 0;
		bottom: 0;
	}
	.tab-content-inner {
		padding-left: 5%;
		padding-top: 15px;
		text-align: unset;
		font-size: 13px;
	}
	.tab-content-border {
		height: 40px;
		line-height: 40px;
		width: 100%;
		position: absolute;
		box-shadow: -5px 0px 5px #00000014, 0px 10px 0px #f07125;
	}
	.tab-title-border {
		height: 40px;
		width: 100%;
	}
	#tab-1, #tab-1 .tab-border {
		box-shadow: inset -5px 0px 5px #00000014;
	}
	#tab-2, #tab-2 .tab-border {
		box-shadow: inset -5px 0px 5px #00000014;
	}
	#tab-3, #tab-3 .tab-border {
		box-shadow: inset -5px 0px 5px #00000014;
	}
	#tab-4, #tab-4 .tab-border {
		box-shadow: inset -5px 0px 5px #00000014;
	}
	#tab-6, #tab-6 .tab-border {
		box-shadow: inset 5px 0px 5px #00000014;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.presentation {
		min-height: 100%;
	}
  .slide {
    font-size: 25px;
  }
  .inner {
    max-width: 65%;
  }
  .dp-logo, .ukaid-logo {
    max-height: 80px;
  }

	.graph .top h4 {
		font-size: 14px;
	}
	.graph .select {
		font-size: 35px;
		font-weight: 200;
	}
	.graph .text {
		font-size: 15px;
		max-width: 90%;
		padding-top: 10px;
	}
	.graph h3 {
		font-size: 35px;
		font-weight: 200;
	}
	.graph .top i {
		font-size: 25px;
	}

	.tabs {
		height: 95%;
	}
	.tab-border {
		font-size: 30px;
	}
	.tab h1 {
		padding-left: 60px;
	}
	.tab-title {
		padding-left: 20px;
	}
	.tab-title-border {
		height: 50px;
		width: 100%;
	}
	.tab-content-border {
		font-size: 30px;
		width: 100%;
		height: 50px;
		line-height: 50px;
	}
	.tab-content-inner {
		margin-top: 2%;
	}
	.tab-content-inner h1 {
		font-size: 80px;
		margin-bottom: 4%;
	}
	.tab-content img {
		position: initial;
		max-width: 560px;
		max-height: 430px;
		margin-right: 30px;
	}
	.tab-text {
		font-size: 17px;
		margin-top: 20px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .logo {
    margin-bottom: 10px;
  }
  .slide {
    font-size: 27px;
  }
  .w-100 {
    padding-top: 20px;
  }
  .partners {
    padding-top: 105px;
    padding-bottom: 105px;
  }

	.graph .top h4 {
		font-size: 19px;
	}
	.graph .text {
		font-size: 17px;
	}

  .partners img {
    max-width: 70%;
  }
  .dp-logo {
    margin-left: 15%;
  }
  .ukaid-logo {
    margin-right: 15%;
  }

	.tabs {
		height: 95%;
	}
	.tab-border {
		font-size: 30px;
	}
	.tab {
		max-width: 70px;
	}
	.tab h1 {
		padding-left: 60px;
	}
	.tab-title {
		padding-left: 20px;
	}
	.tab-title-border {
		height: 50px;
		width: 100%;
	}
	.tab-content-border {
		font-size: 30px;
		width: 100%;
		height: 50px;
		line-height: 50px;
	}
	.tab-content-inner {
		margin-top: 2%;
	}
	.tab-content-inner h1 {
		font-size: 80px;
		margin-bottom: 4%;
	}
	.tab-content img {
		position: initial;
		max-width: 560px;
		max-height: 430px;
		margin-right: 30px;
	}
	.tab-text {
		font-size: 17px;
		margin-top: 20px;
	}

	.tab-title-border {
		width: 100%;
		height: 50px;
	}
	.tab-content-border {
		line-height: 50px;
		width: 100%;
		height: 50px;
	}
	.tab-content-inner {
		padding-left: 5%;
	}
	.tab-content p {
		font-size: 17px;
	}
	.tab-content-border p {
		font-size: 30px;
	}
	.tab-content h1 {
		font-size: 80px;
	}
	.tab-content img {
		min-width: 560px;
		min-height: 430px;
		position: absolute;
		margin-right: 50px;
		bottom: 0;
	}
}

/* 4k screens or higher */
@media (min-width: 2559.98px) {
  .logo {
    margin-bottom: 40px;
    min-width: 30%;
  }
  .slide {
    font-size: 37px;
  }

	.graph .top {
		padding-left: 2%;
		padding-top: 2%;
	}
	.graph .select {
		max-width: unset;
		font-size: 35px;
	}
	.graph h3 {
		font-size: 35px;
	}
	.graph .top  {
		font-size: 35px;
	}
	.graph .text {
		font-size: 22px;
	}

  .partners h1 {
    font-size: 75px;
  }
  .partners p {
    font-size: 40px;
  }
  .dp-logo {
    min-height: 120px;
  }
  .ukaid-logo {
    min-height: 120px;
  }

	.tab {
		max-width: 150px;
	}
	.tab h1 {
		padding-left: 60px;
		font-size: 60px;
	}
	.tab-title-border {
		height: 100px;
		width: 100%;
	}
	.tab-content-border {
		font-size: 30px;
		width: 100%;
		height: 100px;
		line-height: 100px;
	}
	.tab-content-inner {
		margin-top: 2%;
	}
	.tab-content-inner h1 {
		font-size: 100px;
		margin-bottom: 4%;
	}
	.tab-content img {
		position: initial;
		max-width: 900px;
		max-height: 730px;
		margin-right: 90px;
	}
	.tab-text {
		font-size: 17px;
		margin-top: 20px;
	}

	.tab-title-border {
		width: 100%;
		height: 70px;
	}
	.tab-content-border {
		line-height: 70px;
		width: 100%;
		height: 70px;
	}
	.tab-content-inner p {
		font-size: 35px;
		max-width: 40%;
	}
	.tab-content h1 {
		font-size: 80px;
	}
	.tab-content img {
		min-width: 730px;
		min-height: 500px;
		position: absolute;
		bottom: 0;
	}
}
